header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.header {
    padding: 1rem;
    text-align: center;
    gap: 15px;
}

.header h2 {
    font-size: 2rem;
}

.blueyPortada {
    width: 100%;
    height: auto;
    max-width: 200px;
}