header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px;
    gap: 5px;
    flex: 2;
}

.header h1 {
    font-size: 1.25rem;
    color: #305889;
    font-weight: lighter;
    font-family: 'Heyam';
}

.header h2 {
    font-size: 5rem;
    color: #305889;
    font-family: 'Heyam';
    letter-spacing: 2px;
}

.header h3 {
    font-size: 2rem;
    color: #dd761c;
}

.vicente-image-container {
    display: flex;
    justify-content: center;
}

.vicente-img {
    width: 100%;
    max-width: 450px;
    height: auto;
}