/* Reset CSS */
* { margin: 0; padding: 0; }
*, *::before, *::after { box-sizing: border-box; }

body { min-height: 100dvh; }
input, button, textarea, select { font: inherit; }

p { text-wrap: pretty; }
h1, h2, h3, h4, h5, h6 { text-wrap: balance; }

img, video, svg { height: auto; max-width: 100%; }

@media (prefers-reduced-motion: reduce)  {
  *, *::before, *::after { 
    animation-duration: 0.01ms !important; 
    animation-iteration-count: 1 !important; 
    transition-duration: 0.01ms !important; 
    scroll-behavior: auto !important;
    transition: none;
  }
}

@font-face {
  font-family: 'HelloHeadline';
  src: url('/fonts/Hello_Headline_W00_Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Heyam';
  src: url('/fonts/Heyam.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'HelloHeadline', sans-serif; 
  background-color: #bdd7f0; 
  /*
  background-image: url('../assets/wallpaper.jpg');
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;  /* Fondo fijo */ 
  height: 100vh;
  color: #333;
}

