.invitation-details {
  padding: 50px;
  text-align: center;
  background-color:#dd761c;
}

.invitation-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.invitation-header h2, h4 {
  font-size: 2.5rem;
  color: #e5d6b5;
  font-family: 'HelloHeadline';
}

.invitation-header h3 {
  font-size: 2.5rem;
  color: #305889;
}
.horario {
  display: flex;
  align-items: center;
  gap: 10px;
}

.bluey-img {
  width: 250px;
  height: auto;
}
