.wait-for-you {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    text-align: center;
    background-image: url('../assets/wallpaper.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.waiting-message {
    font-size: 2.5em;
    color: #dd761c;
    font-weight: bold;
    margin-bottom: 20px;
}

.wait-for-you h3{
    font-size: 1.25em;
    color: #305889;
}